{% load crispy_forms_field %}

{% if field.is_hidden %}
	{{ field }}
{% else %}
	<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="field{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} has-error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
		{% if field.label and not field|is_checkbox and form_show_labels %}
			<label for="{{ field.id_for_label }}" class="{{ label_class }}">
				{{ field.label|safe }}	
			</label>		
		{% endif %}

        {% if field|is_checkboxselectmultiple %}
            {% include 'semanticui/layout/checkboxselectmultiple.html' %}
	    {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        {% endif %}

        {% if field|is_radioselect %}
            {% include 'semanticui/layout/radioselect.html' %}
	    {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
	    
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field|is_checkbox and form_show_labels %}
                <label for="{{ field.id_for_label }}">
                    {% crispy_field field %}
		    {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                    {% include 'semanticui/layout/help_text_and_errors.html' %}
                </label>
		
            {% else %}
                <div class="{{ field_class }}">
                    {% crispy_field field %}
		    
                    {% include 'semanticui/layout/help_text_and_errors.html' %}
                </div>
            {% endif %}
        {% endif %}
	</{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% endif %}
