{% load crispy_forms_field %}

{% if field.is_hidden %}
	{{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div id="div_{{ field.auto_id }}" class="checkbox">
            <label for="{{ field.id_for_label }}" class="">
                {% crispy_field field 'class' 'checkbox' %}
                {{ field.label|safe }}
		<i class="icon asterisk"></i>
            </label>	    
        </div>
    {% else %}
        <div id="div_{{ field.auto_id }}" class="">
            <label for="{{ field.id_for_label }}" class="">
                {{ field.label|safe }}
            </label>
            {% crispy_field field 'placeholder' field.label %}
        </div>
    {% endif %}
{% endif %}
