{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="field{% if form_show_errors and field.errors %} has-error{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

        {% if field.label and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}">
                {{ field.label|safe }}
            </label>
        {% endif %}
        

        
          {% if field|is_select %}
            
            {% crispy_field field %}
            {% if field.field.required %}
		<div class="ui corner label">
		    <i class="icon asterisk"></i>
		</div>
	    {% endif %}
            
          {% else %}
            <div class="ui input">
                
                {% crispy_field field %}
                {% if field.field.required %}
		<div class="ui corner label">
		    <i class="icon asterisk"></i>
		</div>
	    {% endif %}
                
            </div>
          {% endif %}

            {% include 'semanticui/layout/help_text_and_errors.html' %}
        
    </div>
{% endif %}
